doctype html
html
  head
    title= `${title} | ${h.siteName}`
    link(rel='stylesheet', href='/dist/styles.css')
    meta(name="viewport" content="width=device-width, initial-scale=1")

  body
    block header
      header HEADER
        nav.nav NAVBAR
        each item in h.menu
          li.nav__item
            a.nav__link(href=item.slug)
              span #{item.title}
                a.nav__link.nav__link--logo(href="/")
                  | The Retail Apocalypse

    .content
      block content

    footer
      block footer
        p &copy; The Retail Apocalypse

    block scripts
      script(src=`https://maps.googleapis.com/maps/api/js?key=${process.env.MAP_KEY}&libraries=places`)
      script(src="/dist/App.bundle.js")
